/* Styling dasar untuk body */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* Styling untuk judul */
.h2-user {
  text-align: center;
  color: #333;
}

/* Styling untuk form input */
.form-user {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  margin: auto;
}

/* Styling untuk label */
.label-user {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Styling untuk berbagai jenis input */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling untuk tombol submit */
.button-user {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font: 16px;
  width: 100%;
}

/* Style untuk tabel */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #31c6d4;
  border-color: black;
  color: #000;
}

/* Styling untuk tombol edit dan delete */
.edit-button,
.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* button logout */
.btn-logout {
    display: inline-block;
    padding: 10px 15px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn-logout:hover {
    background-color: red;
}

.btn-buataduan {
    display: inline-block;
    padding: 10px 15px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn-buataduan:hover {
    background-color: green;
}

.text-dashboard {
  text-align: center;
}